<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490770108793-j5hgqubv0moboubpak97d46c7ce3g54c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490770108793-j5hgqubv0moboubpak97d46c7ce3g54c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490770108793-lo29gkn5c7mthcprgk002hnt5k4854oh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-jeuYQlB92JrMWfOShvDbj8sRUWzbNgo</string>
	<key>GCM_SENDER_ID</key>
	<string>490770108793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onlineradiotraining.moodlemobile</string>
	<key>PROJECT_ID</key>
	<string>cordova-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cordova-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490770108793:ios:32227f04b46522da</string>
	<key>DATABASE_URL</key>
	<string>https://cordova-mobile-app.firebaseio.com</string>
</dict>
</plist>